<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Sign-in</title>
    <link rel="stylesheet" href="/idp/style.css">
  </head>
  <body>
    <div class="main-content">
      <section class="main-content-section">
        <div class="wrapper">
          <h1 class="title--white">Sign In</h1>
          <div class="login-panel">
            <div class="panel-body">
              <form autocomplete="off" action="<%= details.pathPrefix %>/idp/interaction/<%= details.uid %>/login" method="post">

                <%if (errorMessage) { %>
                  <div class="input-wrap">
                    <label style="color: #D0021B">
                      <%= errorMessage %>
                    </label>
                  </div>
                <% } %>

                <div class="input-wrap">
                  <label for="email">Email:</label>
                  <input id="email" type="email" name="email" autofocus <% if (prefilled.email) { %> value="<%= prefilled.email %>" <% } %>>
                </div>

                <div class="input-wrap">
                  <label for="password">Password:</label>
                  <input id="password" type="password" name="password">
                </div>

                <div class="input-wrap">
                  <label class="checkbox"><input type="checkbox" name="remember" value="yes" checked>Stay signed in</label>
                </div>

                <button type="submit" name="submit" class="ids-link-filled">Sign In</button>

                <hr />
                <div class="space-between">

                  <a href="/idp/interaction/<%= details.uid %>/register" class="link">Register</a>
                  <a href="/idp/interaction/<%= details.uid %>/forgotpassword" class="link">Forgot Password</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
