<h1 id="public">Server setup complete</h1>
<p>
  Congratulations!
  Your Solid server is now ready to use.
  <br>
  You can now visit its <a href="./">homepage</a>.
</p>

<% if (initialize && !registration) { %>
<h2>Root Pod</h2>
<p>
  <strong>Warning: the root Pod is publicly accessible.</strong>
  <br>
  Prevent public write and control access to the root
  by modifying its <a href=".acl">ACL document</a>.
</p>
<% } %>

<% if (registration) { %>
  <% if (createPod) { %>
    <h2>Your new Pod</h2>
    <p>
      Your new Pod is located at <a href="<%= podBaseUrl %>" class="link"><%= podBaseUrl %></a>.
      <br>
      You can store your documents and data there.
    </p>
  <% } %>

  <% if (createWebId) { %>
    <h2>Your new WebID</h2>
    <p>
      Your new WebID is <a href="<%= webId %>" class="link"><%= webId %></a>.
      <br>
      You can use this identifier to interact with Solid pods and apps.
    </p>
  <% } %>

  <% if (register) { %>
    <h2>Your new account</h2>
    <p>
      Via your email address <em><%= email %></em>,
      this server lets you log in to Solid apps
      with your WebID <a href="<%= webId %>" class="link"><%= webId %></a>
    </p>
    <% if (!createWebId) { %>
      <p>
        You will need to add the triple
        <code><%= `<${webId}> <http://www.w3.org/ns/solid/terms#oidcIssuer> <${oidcIssuer}>.`%></code>
        to your existing WebID document <em><%= webId %></em>
        to indicate that you trust this server as a login provider.
      </p>
    <% } %>
  <% } %>
<% } %>
